/******子弹流加强，根据logseq的主题作者pengx17的代码改造*******/

.protyle-wysiwyg [data-node-id].li>.list {
  padding-left: var(--list-bullet-padding);
}

/***基础线条***/
.protyle-wysiwyg [data-node-id].li>[data-node-id]:before {
  content: "";
  position: absolute;
  border-left: 1px solid var(--list-border-initial);
  background-color: transparent;
  left: -18px;
}

/**以protyle-action区域设定光标聚集时转弯部分线条**/
.protyle-wysiwyg [data-node-id].li [data-node-id].li:focus-within> .protyle-action:before {
  content: "";
  left: calc(var(--list-bullet-padding) *-1 - 3px);
  right: calc(20px + 0.25em);
  top: calc(2px - 12em / 16);
  bottom: calc(0.5px + 14em / 16 );
  position: absolute;
  border-left: 3px solid var(--list-border-focus);
  border-bottom: 3px solid var(--list-border-focus);
  border-bottom-left-radius: 10px;
}


/**设定focus时直线部分线条**/
.protyle-wysiwyg [data-node-id].li [data-node-id].list:focus-within>[data-node-id]:not(:focus-within):before {
  content: "";
  position: absolute;
  top: -4px;
  bottom: 0;
  border-left: 3px solid var(--list-border-focus);
  left: calc(var(--list-bullet-padding) *-1 - 3px);
}

.protyle-wysiwyg [data-node-id].li [data-node-id].list:focus-within > [data-node-id]:focus-within ~ [data-node-id]:before {
  border-color: transparent;
}


/**加强线填充至bullet**/
.protyle-wysiwyg [data-node-id].li:focus-within>div:nth-child(2):not(:focus-within):before {
  top: calc(6px + 18em / 16) ;
  border-left: 3px solid var(--list-border-focus);
  height:calc(100% - 0.5em) !important;
  left:-19px;
}


/**列表、表格混排**/
.protyle-wysiwyg [data-node-id].li:focus-within>[data-node-id].table:not(:focus-within):before{
  border-left: 3px solid var(--list-border-focus);
  left:-19px;
}

/**列表、嵌入块时混排**/
.protyle-wysiwyg [data-node-id].li>[data-node-id].render-node:before {
  left:-19px;
}
.protyle-wysiwyg [data-node-id].li :focus-within>[data-node-id].render-node:not(:focus-within):before{
  border-left: 3px solid var(--list-border-focus);
  left:-19.5px;
}

/**大纲颜色与卡片背景色统一**/
.protyle-wysiwyg [data-node-id].li>.protyle-action{
  color:inherit;
}


/**光标所在序列-圆点、序号颜色加强**/
.protyle-wysiwyg [data-node-id].li:focus-within>.protyle-action {
  color:var(--list-bullet-focus) !important;
  font-weight: bold;
}

/***无序列表bullet变大***/
.protyle-wysiwyg [data-subtype="u"]:focus-within>.protyle-action svg {
  height: 24px;
}

/* 大纲悬浮时样式 */
.protyle-wysiwyg [data-node-id].li>.protyle-action:hover:after{
  background-color: var(--list-bullet-hover-background) !important;
  opacity: 0.2; /* 圆点悬浮时外圈透明度 */
}

.protyle-wysiwyg [data-node-id].li>.protyle-action:hover{
  color:var(--list-bullet-focus);
}

/* 大纲折叠时样式 */
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action:after{
  background-color: var(--list-bullet-fold-background) !important;
  opacity: 0.2;
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action{
  color: var(--list-bullet-fold)!important;
  font-weight: bold; 
}

/* 圆点悬浮时放大效果（折叠时无效果） */
.protyle-wysiwyg [data-node-id].li:not([fold="1"])>.protyle-action:hover svg, .protyle-wysiwyg [data-node-id].li:not([fold="1"])>.protyle-action:hover:after{
  transition: all 0.2s ease-in-out;
  transform: scale(1.22);
}



/****子弹流笔记加强结束***/
