/* ！！此文件放在 SiYuan\data\widgets 路径中（dark+主题作者萌新的想法），可以实现多端同步，也可以覆盖掉theme.css中的一些代码！！ */

/* 在此目录下的代码可以覆盖掉后面的一些代码，如果没有生效，可以尝试在属性值后面加上!important */
/* 由于思源笔记主题的缓存，修改完代码后，需要打开theme.css文件，然后点击保存，才能生效 */
/* 注：下列代码适用于Light-Blue主题，不一定对其他主题有效 */


/*****************************************毛玻璃特效部分、对性能要求较高、默认关闭*****************************************/

/* .fn__flex-1.fn__flex>[data-type='wnd']:first-child {
    background: transparent !important;
    z-index: 2 !important;
}

.block__popover,
.protyle[data-index="0"] {
    background: transparent !important;
}

.block__popover:before,
.fn__flex-1.fn__flex>[data-type='wnd']:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3;
    background-color: var(--glass-editor-background);
    backdrop-filter: blur(var(--blur-value));
}

.b3-menu,
.protyle-util {
    background-color: var(--glass-editor-background) !important;
    backdrop-filter: blur(var(--blur-value));
} */

/*****************************************毛玻璃特效结束*****************************************/