/* 导入超链接图标link icon css */
@import url("style/link_icon.css");

@keyframes menu {
    0% {
        opacity: 0;
    }

    50% {
        transform: scale(1.01);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
    }
}

/******* 亮色主题配色模板 **********/
:root {
    /* 主色 */
    --b3-theme-primary: #4286F3;
    /* 主色调，一般用在按钮等其他需要醒目的地方 */
    --b3-theme-primary-light: #4286F3de;
    --b3-theme-primary-lighter: #4286F31a;
    --b3-theme-primary-lightest: #4286f40d;
    --b3-theme-secondary: #e76118;
    --b3-theme-background: var(--dialog-background);
    /* 背景色，主要用于编辑器背景 */
    --b3-theme-surface: var(--dialog-background);
    /* 主要用于分栏背景 */
    --b3-theme-surface-light: #292a2ddb;
    --b3-theme-error: #d23f31;
    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    /* 主色调上的文字颜色 */
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #212526;
    /* 编辑器上的文字颜色 */
    --b3-theme-on-surface: #666666;
    /* 分栏、面板上的文字颜色 */
    --b3-theme-on-error: #fff;
    /* 字体 */
    --b3-font-family: 'HarmonyOS', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'Win10 Emoji', 'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols';
    --b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;
    /* 线条 */
    --b3-border-color: #0000001a;
    /* 滚动条 */
    --b3-scroll-color: var(--column-scrollbar-background);
    /* 列表 */
    --b3-list-hover: #4286F326;
    /* 页签 */
    --b3-tab-background: var(--b3-theme-background);
    --b3-tab-background-hover: var(--b3-theme-primary-lightest);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: #a9caff;
    --b3-tooltips-color: var(--b3-theme-on-background);
    /* 卡片背景 */
    --b3-card-error-color: #611a15;
    --b3-card-error-background: #fbd5d0;
    --b3-card-warning-color: #663c00;
    --b3-card-warning-background: #ffeacc;
    --b3-card-info-color: #0d3c61;
    --b3-card-info-background: #d0e8fb;
    --b3-card-success-color: #1e4620;
    --b3-card-success-background: #dcefdc;
    /* 自定义文字 */
    --b3-font-color1: #26c6da;
    --b3-font-color2: #4dd0e1;
    --b3-font-color3: #28e476;
    --b3-font-color4: #30d675;
    --b3-font-color5: #ffd32a;
    --b3-font-color6: #fbc02d;
    --b3-font-color7: #e57373;
    --b3-font-color8: #ef5350;
    --b3-font-color9: #64b5f6;
    --b3-font-color10: #4286F3;
    --b3-font-color11: #ffa000;
    --b3-font-color12: #ff6f00;
    --b3-font-color13: #746f6f;
    --b3-font-background1: #b2ebf2;
    --b3-font-background2: #b2dfdb;
    --b3-font-background3: #e4f8e4;
    --b3-font-background4: #c9f3c9;
    --b3-font-background5: #ffe082;
    --b3-font-background6: #ffb74d;
    --b3-font-background7: #ffeacc;
    --b3-font-background8: #fbd5d0;
    --b3-font-background9: #b3e5fc;
    --b3-font-background10: #d0e8fb;
    --b3-font-background11: #f48fb1;
    --b3-font-background12: #b39ddb;
    --b3-font-background13: #d8dfe2;
    --b3-pdf-background1: #fcf485;
    --b3-pdf-background2: #ffd100;
    --b3-pdf-background3: #e4f8e4;
    --b3-pdf-background4: #c9f3c9;
    --b3-pdf-background5: #ffc09e;
    --b3-pdf-background6: #b3e5fc;
    --b3-pdf-background7: #f48fb1;
    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;
    /* 阴影 */
    --b3-point-shadow: 0 1px 1px -2px #4487f354, 0px 2px 2px 0px #4487f340, 0px 1px 5px 0px #4487f340;
    --b3-dialog-shadow: 0px 0px 10px 1px #4487f380;
    /* diff */
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;
    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4286F3;
    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #ffe955;
    --b3-protyle-search-border-color: #f2e680;
    --b3-protyle-search-current-background: #a5d3fe;
    /* 代码片段背景 */
    --b3-protyle-code-background: #e8f4fd;
    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: var(--b3-font-color10);
    /* 粗体 */
    --b3-protyle-inline-em-color: inherit;
    /* 斜体 */
    --b3-protyle-inline-s-color: inherit;
    /* 删除线 */
    --b3-protyle-inline-link-color: var(--b3-theme-primary);
    /* 超级链接 */
    /* --b3-protyle-inline-mark-background: var(--b3-font-color10); */
    /* 高亮背景 */
    /* --b3-protyle-inline-mark-color: #fff; */
    /* 高亮文字 */
    --b3-protyle-inline-tag-color: var(--b3-theme-on-primary);
    /* 标签 */
    --b3-protyle-inline-blockref-color: var(--b3-theme-secondary);
    /* 双向链接 */
    /************** Theme *********************/
    --inline-code-color: #d32123;
    /* 行内代码文字颜色 */
    --quote-border-width: 3px;
    /* 引述左边框宽度 */
    --quote-border-color: var(--b3-font-color10);
    /* 引述左边框颜色 */
    --column-scrollbar-background: #0000001a;
    /* 边栏内滚动条通用背景色 */
    --column-scrollbar-hover-background: #6aa4fb;
    /* 边栏内滚动条通用背景色 */
    --b3-scroll-color: #6aa4fb;
    /* 边栏内滚动条悬浮时背景色 */
    --main-background: #f8f8f8e6;
    --dialog-background: #f8f8f8;
    /*背景栏*/
    --list-border-initial: #a9cff5;
    /*列表大纲线颜色*/
    --list-border-focus: var(--b3-font-color12);
    /*子弹着重线颜色*/
    --list-bullet-focus: var(--b3-font-color10);
    /*bullet着重颜色*/
    --list-bullet-hover-background: var(--b3-font-color10);
    /*bullet悬停背景色*/
    --list-bullet-fold-background: var(--b3-font-color9);
    /*bullet折叠背景色*/
    --list-bullet-fold: var(--b3-font-color10);
    /*bullet折叠时着重颜色*/
    --list-bullet-padding: 16px;
    /**** 设置 ****/
    --dock-border: 1px solid var(--b3-border-color);
    /* 顶栏、dock、页签栏边框 */
    --column-border: var(--b3-border-color);
    /* 分栏分割线 */
    --line-height: 1.6em;
    /* 行高 */
    --margin-top-bottom: 2px;
    /* 上下 margin */
    --margin-left-right: 0px;
    /* 左右 margin */
    --padding-top-bottom: 2px;
    /* 上下 padding */
    --padding-left-right: 4px;
    /* 左右 padding */
    --block-margin: var(--margin-top-bottom) var(--margin-left-right) !important;
    /* 块间距 */
    --block-padding: var(--padding-top-bottom) var(--padding-left-right) !important;
    /* 块内边距 */
    --background-image: url("img/bg.jpg");
    /* 背景图 */
    --blur-value: 10px;
    /* 背景图片模糊程度*/
    --glass-editor-background: #fcfcfc85;
    /* 毛玻璃效果*/
    --glass-box-shadow: 0px 1px 3px 0.5px #4487f380;
    /* 毛玻璃效果：阴影 */
    /**** 动画 ****/
    --page-scrollbar-transition: opacity 0.5s ease 0s;
    /* 分页加载条动画 */
    --common-transition: all 0.3s ease-in-out;
    /* 通用动画 */
    --b3-menu-background:var(--b3-theme-background);
    /*选择栏背景*/
}

/* 选择框颜色 */
.b3-select {
    background-color: var(--dialog-background);
    box-shadow: inset 0 0 0 1px var(--b3-theme-primary-light);
}

.b3-select:hover {
    background-color: var(--b3-theme-primary-lighter);
    box-shadow: inset 0 0 0 1px var(--b3-theme-primary-light);
}

/*下拉栏背景*/
option {
    background-color: var(--dialog-background);
}

/*输入框颜色*/
.b3-text-field {
    color: var(--b3-theme-on-surface);
    border: transparent;
    box-shadow: inset 0 0 0 1px var(--b3-theme-primary-light);
}

/************** 一、页面框架与控件 ***********************/
/**** 停靠栏 dock ****/
.toolbar,
#dockLeft,
#dockRight,
#dockTop,
#dockBottom {
    background: transparent;
}

.dock#dockLeft,
.dock#dockRight,
.toolbar,
.status {
    border: none;
}

.docktop {
    display: none !important;
}

/**顶部工具栏**/
.toolbar #drag {
    color: transparent;
}

.toolbar__text {
    color: #746f6f;
}

/**点击时**/
.toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close):hover,
.toolbar__item--active,
.dock__item:hover {
    background: var(--b3-theme-primary-lighter);
}

.status .toolbar__item:hover {
    background: var(--b3-theme-primary-lighter) !important;
}

.dock__item--active,
.toolbar__item--active {
    color: var(--b3-theme-primary);
    background: transparent;
}

/**文档树部分**/
.fn__flex-1 .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
    background: var(--b3-font-background10) !important;
}

.fn__flex-1 .fn__flex-column .file-tree .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
    transition: all 200ms ease-out;
    padding-bottom: 0px !important;
}

.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) {
    background-color: var(--b3-theme-primary-lightest);
}

.file-tree .b3-list--background .b3-list-item--focus:not([data-treetype="outline"]) .b3-list-item__text,
.file-tree .b3-list--background .b3-list-item--focus:not([data-treetype="outline"]) .b3-list-item__toggle,
.file-tree .b3-list--background .b3-list-item--focus:not([data-treetype="outline"]) .b3-list-item__icon svg,
.file-tree .b3-list--background .b3-list-item--focus:not([data-treetype="outline"]) {
    color: var(--b3-font-color10) !important;
}

/**字体清晰**/
.file-tree [data-type="navigation-file"] .b3-list-item__text {
    opacity: 1;
}

/**笔记本下划线**/
.b3-list--background {
    border-bottom: 1px solid var(--b3-font-color9);
}

/**笔记文档下划线**/
.b3-list-item,
.b3-dialog--open .fn__flex .b3-list--background,
.b3-dialog--open .fn__flex .b3-list-item {
    outline: 0.5px solid #00000010;
    margin: 0.5px !important;
}

/**笔记本名称加强**/
.b3-list--background [data-type="navigation-root"] .b3-list-item__text,
.b3-list--background [data-type="navigation-root"] .b3-list-item__toggle,
.b3-list--background [data-type="navigation-root"] .b3-list-item__icon svg {
    color: var(--b3-theme-primary) !important;
    font-weight: bold;
    margin: 4px 0 ;
}

/*************大纲代码部分********/
.file-tree ul.b3-list.b3-list--background [data-type="NodeDocument"][data-treetype="outline"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-type="NodeDocument"][data-treetype="outline"] .b3-list-item__toggle,
.file-tree ul.b3-list.b3-list--background [data-type="NodeDocument"][data-treetype="outline"] {
    color: var(--b3-theme-primary) !important;
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] .b3-list-item__toggle,
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] {
    color: var(--b3-font-color8);
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] .b3-list-item__toggle,
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] {
    color: var(--b3-theme-secondary);
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] .b3-list-item__toggle,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] {
    color: var(--b3-font-color10);
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] .b3-list-item__toggle,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] {
    color: var(--b3-font-color7);
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] .b3-list-item__text,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] .b3-list-item__toggle,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] {
    color: var(--b3-font-color9);
}

/*************大纲的代码部分结束*********/
/* 边栏列表项 */
.b3-list-item,
.b3-list-item__text {
    color: var(--b3-theme-on-surface);
}

.fn__flex-1 .b3-list-item {
    min-height: 35px;
}

.config__panel>.b3-tab-bar .b3-list-item {
    min-height: 50px;
}

/* 边栏分割线 */
.layout__resize--lr {
    margin: 8px 0 8px 1px;
}

.layout__resize--lr:after {
    width: 3px;
    background-color: transparent;
    transition: all 0.8s;
}

.layout__resize:after {
    background-color: transparent;
    transition: all 0.8s;
}

.counter,
.protyle-attr--refcount {
    height: 18px;
    width: 18px;
    padding: 0;
    line-height: 18px;
    text-align: center;
    background: #82b2ff1a;
    color: var(--b3-theme-primary);
    border-radius: 6px;
    font-weight: 400;
}

.block__icons .counter {
    background: transparent;
    color: var(--b3-theme-secondary);
}

.b3-list-item .counter:hover,
.protyle-attr--refcount:hover {
    color: var(--b3-theme-on-secondary);
    background-color: var(--b3-theme-primary);
    font-weight: 600;
}

body.fn__flex-column {
    background-image: var(--background-image);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-color: transparent;
    border: none;
}

.protyle-attr {
    border: none !important;
    outline: none !important;
}

/*****************************************正常特效，和毛玻璃只能选一个注释*********************/
.fn__flex-1.fn__flex [data-type='wnd'] {
    background: var(--main-background);
    min-height: 90% !important;
    position: relative;
    box-shadow: var(--glass-box-shadow);
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 15px;
}

.fn__flex-shrink {
    margin-right: 1px;
}

.b3-menu,
.protyle-util {
    padding: 10px 0px;
    background-color: var(--dialog-background);
}

/*****************************************正常特效结束*****************************************/
/*****************************************毛玻璃特效部分***************************************** .fn__flex-1.fn__flex>[data-type='wnd']:first-child { background: transparent; min-height: 90% !important; margin: 5px; padding: 5px; position: relative; box-shadow: var(--glass-box-shadow); overflow: hidden; box-sizing: border-box; border-radius: 15px; z-index: 2; } .block__popover, .protyle[data-index="0"] { background: transparent; } .block__popover:before, .fn__flex-1.fn__flex>[data-type='wnd']:first-child:before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -3; background-color: var(--glass-editor-background); backdrop-filter: blur(var(--blur-value)); } /* .b3-menu, .protyle-util { padding: 10px 0px; background-color: var(--glass-editor-background); backdrop-filter: blur(var(--blur-value)); } */
/*****************************************毛玻璃特效结束*****************************************/
.block__popover.block__popover--move.block__popover--open {
    border-radius: 15px;
    box-shadow: 0px 0px 40px 8px #00000033;
    z-index: 201;
    animation: menu 0.5s;
}

.block__icon--active {
    background-color: var(--b3-theme-primary-lightest);
    color: var(--b3-theme-primary);
}

.block__icon--active:hover {
    color: var(--b3-theme-primary) !important;
}

.protyle-wysiwyg [data-node-id] .def--mark {
    background: none;
}

.block__edit {
    border-color: var(--b3-theme-primary);
}

.fullscreen {
    background-color: var(--dialog-background) !important;
}

.protyle-background {
    margin: 10px;
    border-radius: 8px;
}

.protyle-toolbar {
    background-color: var(--glass-editor-background);
    border-radius: 3px;
    padding: 1px 8px;
    z-index: 100;
}

.layout__empty {
    background-color: #ffffff00;
}

.protyle-preview {
    background-color: #ffffff00;
}

.protyle-preview__action {
    background-color: #ffffff00 !important;
}

.graph {
    background: transparent;
}

.graph__panel {
    z-index: 2;
}

[data-type='wnd'] .layout-tab-container,
[data-type='wnd'] .protyle,
[data-type='wnd'] .protyle-content,
[data-type='wnd'] .protyle-wysiwyg,
.block__icons {
    background: transparent;
}

#configBazaarReadme.config-bazaar__readme {
    z-index: 3;
}

.search__label .b3-form__icon-input {
    background: transparent;
}

.fn__loading {
    background-color: transparent !important;
}

div.b3-dialog__container {
    background-color: var(--dialog-background) !important;
    animation: menu 0.4s ease-in-out;
}

.spread-search__preview {
    background-color: var(--dialog-background);
}

.b3-dialog__close {
    display: none;
}

.b3-list--background .b3-list-item--focus:not([data-treetype="outline"]) {
    color: var(--b3-theme-primary);
}

.b3-dialog__scrim {
    background-color: #00000000;
}

.layout__center .protyle-title__input {
    background: transparent;
}

.b3-tab-container {
    background-color: var(--glass-editor-background);
}

.config-account__center--text {
    background-color: #00000000;
    padding: 16px 24px;
}

.layout-tab-bar {
    background-color: transparent;
}

/***搜索栏\替换栏***/
.search__header {
    background-color: var(--dialog-background);
    border-bottom: 1px solid var(--b3-theme-primary) !important;
}

.search__header .b3-text-field--text {
    background-color: transparent;
}

.protyle-background {
    margin: 10px;
    border-radius: 8px;
}

.b3-card {
    box-shadow: var(--b3-point-shadow);
    border: 1px solid var(--b3-theme-primary-lightest);
    background-color: transparent;
    transition: var(--common-transition);
}

.b3-card:hover {
    background-color: var(--b3-theme-primary-lightest);
}

.protyle-icons>span {
    background-color: #00000000;
    color: var(--b3-theme-primary);
}

.protyle-icons>span:hover {
    background-color: var(--b3-theme-primary-lightest);
}

.config-account__center--text {
    background-color: #00000000;
    padding: 16px 24px;
}

.b3-chip--primary {
    background-color: #00000073;
    color: #ff8f00;
}

body.body--win32 {
    border: 0px solid var(--b3-border-color);
}

/**** 菜单 ****/
.b3-menu {
    animation: menu 0.3s ease-in-out;
}

/* 菜单项 */
.b3-menu__item {
    padding: 2px 16px 2px 16px;
    color: var(--b3-theme-on-surface);
    background-color: transparent;
}

.b3-menu__item:hover,
.b3-list-item__icon:hover,
.b3-list-item__action:hover,
.block__icon:hover:not([disabled]):not(.ft__primary),
.block__icon--active {
    background: var(--b3-theme-primary-lighter);
}

.b3-list-item__toggle--hl:hover {
    background: transparent;
    color: var(--b3-theme-primary);
}

/* 菜单分割线 */
.b3-menu__separator {
    height: 1px;
    margin: 6px 0;
    background-color: var(--b3-theme-primary);
}

/* 菜单项选中状态 */
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom),
.b3-menu__item--current {
    border-radius: 0px;
}

.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom)>.b3-menu__label,
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom)>.b3-menu__accelerator,
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom)>.b3-menu__icon,
.b3-menu__item--current>.b3-menu__label,
.b3-menu__item--current>.b3-menu__accelerator,
.b3-menu__item--current>.b3-menu__icon {
    color: var(--b3-theme-primary);
}

/*二级菜单*/
.b3-menu__submenu {
    box-shadow: var(--b3-point-shadow);
    margin: 2px;
    border: none !important;
    border-radius: 4px !important;
    animation: menu 0.3s ease-in-out;
}

.b3-menu__item--show .b3-menu__submenu {
    background-color: var(--dialog-background);
}

/* 菜单中文字描述 */
.b3-menu__item--readonly {
    line-height: 1.7em;
}

/* 字体样式设置弹框：调大间距，增大按钮 */
.protyle-font div {
    padding: 4px 0;
}

.color__square {
    margin-right: 6px;
    height: 22px;
    width: 22px;
    line-height: 22px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px var(--b3-theme-primary-lighter);
}

/**字体选择边框**/
.color__square:hover {
    box-shadow: 0 0 0 1px var(--b3-theme-primary-lighter), 0 0 0 1px var(--b3-theme-background) inset;
}

/**** Switch 开关 ****/
/* 未开启状态 */
.b3-switch {
    background-color: var(--b3-theme-primary-lighter);
}

/* 开启状态 */
.b3-switch:checked {
    background-color: var(--b3-theme-primary);
}

.b3-switch:checked:after {
    background-color: #fff;
    border-color: #fff;
}

/**** 反链浮窗 ****/
.block__popover .protyle-breadcrumb__item:first-child {
    font-weight: bold;
}

/**** 滚动条 ****/
/* 通用滚动条 */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--column-scrollbar-hover-background);
}

/* 边栏滚动条 */
#layouts>.fn__flex-1>.fn__flex-column::-webkit-scrollbar {
    width: 6px;
}

#layouts>.fn__flex-1>.fn__flex-column::-webkit-scrollbar-thumb {
    background-color: var(--column-scrollbar-background);
}

#layouts>.fn__flex-1>.fn__flex-column::-webkit-scrollbar-thumb:hover {
    background-color: var(--column-scrollbar-hover-background);
}

/************pdf*************/
/*** pdf背景 ***/
.pdf__outer {
    background-color: var(--dialog-background);
}

/***目录选择背景***/
.treeItem.selected>a {
    background-color: var(--b3-theme-primary-lighter);
}

/***PDF批注***/
.b3-color__square[style*="--b3-pdf-background"] {
    box-shadow: 0px 0px 2px 1px #4487f380;
}

.b3-color__square[style*="--b3-pdf-background"]:before {
    content: "A";
    color: var(--b3-theme-on-background);
    margin-top: -2px;
    font-weight: 500;
    font-size: 1.1em;
}

.protyle-wysiwyg[contenteditable=true] span[data-type=file-annotation-ref] {
    margin: 0 1px;
    text-decoration: none;
    padding: 2px 0;
}

.protyle-wysiwyg[contenteditable=true] span[data-type=file-annotation-ref]:hover {
    border-bottom: 1.5px solid var(--b3-theme-secondary);
}

/************** 二、文档编辑区 **************************/
/* 页签样式 */
.layout-tab-bar .item {
    line-height: 30px;
    margin: 0 1px;
    padding: 0 2px;
    box-shadow: none;
    font-style: normal;
    position: relative;
}

.layout-tab-bar .item:not(.item--focus):not(.item--readonly):after {
    content: "";
    bottom: -2px;
    position: absolute;
    width: 0%;
    left: 50%;
    height: 4px;
    background-color: var(--b3-theme-primary-light);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: 100%，0;
}

.layout-tab-bar .item:not(.item--focus):hover:after {
    width: 100%;
    left: 0%;
}

/**钉住的样式**/
.layout-tab-bar .item--pin {
    border-color: var(--b3-theme-secondary);
}

.layout-tab-bar .item__close:hover svg {
    background-color: var(--b3-theme-primary-lighter);
    color: var(--b3-theme-primary);
}

/**** 面包屑 ****/
.protyle-breadcrumb,
.protyle-breadcrumb .fn__flex-shrink {
    background-color: transparent;
}

.protyle-breadcrumb__bar .protyle-breadcrumb__item {
    color: var(--b3-theme-on-surface);
}

.protyle-breadcrumb__item--active {
    background: transparent;
}

.protyle-breadcrumb__item:hover {
    color: var(--b3-theme-primary);
}

/* 浮出工具栏 */
.protyle-toolbar {
    background-color: var(--dialog-background);
    border-radius: 30px;
    padding: 1px 8px;
    z-index: 5;
}

.protyle-toolbar__divider {
    border-color: var(--b3-theme-primary);
}

.protyle-toolbar__item:hover {
    background-color: var(--b3-theme-primary-lightest);
}

.protyle-toolbar__item>svg:hover {
    fill: var(--b3-theme-primary);
}

/* 弹出工具条字体颜色选择 */
.b3-color__square[data-type="color"],
.b3-color__square[data-type="backgroundColor"] {
    box-shadow: 0px 0px 2px 1px #4487f380;
}

.b3-color__square[data-type="backgroundColor"]:before {
    content: "A";
    margin-top: -2px;
    font-weight: 500;
    font-size: 1.5em;
}

.b3-color__square[data-type="color"]:hover,
.b3-color__square[data-type="backgroundColor"]:hover {
    outline: 2px solid var(--b3-theme-primary);
}

/**字体颜色**/
.b3-color__square[style="background-color:var(--b3-font-color1)"]:before {
    color: var(--b3-font-color1);
}

.b3-color__square[style="background-color:var(--b3-font-color2)"]:before {
    color: var(--b3-font-color2);
}

.b3-color__square[style="background-color:var(--b3-font-color3)"]:before {
    color: var(--b3-font-color3);
}

.b3-color__square[style="background-color:var(--b3-font-color4)"]:before {
    color: var(--b3-font-color4);
}

.b3-color__square[style="background-color:var(--b3-font-color4)"]:before {
    color: var(--b3-font-color4);
}

.b3-color__square[style="background-color:var(--b3-font-color5)"]:before {
    color: var(--b3-font-color5);
}

.b3-color__square[style="background-color:var(--b3-font-color5)"]:before {
    color: var(--b3-font-color5);
}

.b3-color__square[style="background-color:var(--b3-font-color6)"]:before {
    color: var(--b3-font-color6);
}

.b3-color__square[style="background-color:var(--b3-font-color7)"]:before {
    color: var(--b3-font-color7);
}

.b3-color__square[style="background-color:var(--b3-font-color8)"]:before {
    color: var(--b3-font-color8);
}

.b3-color__square[style="background-color:var(--b3-font-color9)"]:before {
    color: var(--b3-font-color9);
}

.b3-color__square[style="background-color:var(--b3-font-color10)"]:before {
    color: var(--b3-font-color10);
}

.b3-color__square[style="background-color:var(--b3-font-color11)"]:before {
    color: var(--b3-font-color11);
}

.b3-color__square[style="background-color:var(--b3-font-color12)"]:before {
    color: var(--b3-font-color12);
}

.b3-color__square[style="background-color:var(--b3-font-color13)"]:before {
    color: var(--b3-font-color13);
}

/* 背景颜色字体设置为彩虹色 */
.protyle-wysiwyg [style="background-color: var(--b3-font-background1);"],
.b3-color__square[style="background-color:var(--b3-font-background1)"] {
    color: #006064;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background2);"],
.b3-color__square[style="background-color:var(--b3-font-background2)"] {
    color: #004d54;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background3);"],
.b3-color__square[style="background-color:var(--b3-font-background3)"] {
    color: #1b5e20;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background4);"],
.b3-color__square[style="background-color:var(--b3-font-background4)"] {
    color: #1e4620;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background5);"],
.b3-color__square[style="background-color:var(--b3-font-background5)"] {
    color: #705401;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background6);"],
.b3-color__square[style="background-color:var(--b3-font-background6)"] {
    color: #5c3b09;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background7);"],
.b3-color__square[style="background-color:var(--b3-font-background7)"] {
    color: #6D360B;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background8);"],
.b3-color__square[style="background-color:var(--b3-font-background8)"] {
    color: #b4342b;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background9);"],
.b3-color__square[style="background-color:var(--b3-font-background9)"] {
    color: #3f728a;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background10);"],
.b3-color__square[style="background-color:var(--b3-font-background10)"] {
    color: #205883;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background11);"],
.b3-color__square[style="background-color:var(--b3-font-background11)"] {
    color: #6c2c40;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background12);"],
.b3-color__square[style="background-color:var(--b3-font-background12)"] {
    color: #44365d;
}

.protyle-wysiwyg [style="background-color: var(--b3-font-background13);"],
.b3-color__square[style="background-color:var(--b3-font-background13)"] {
    color: #324853;
}

/**** 头图工具栏 ****/
.protyle-icons {
    background-color: var(--dialog-background);
    border-radius: 30px;
    box-shadow: var(--b3-point-shadow);
}

.protyle-icons>span>svg {
    fill: var(--b3-theme-on-surface);
}

.protyle-icons>span>svg:hover {
    fill: var(--b3-theme-primary);
}

/**** 块图标 ****/
.protyle-gutters {
    transition: all 200ms ease-out;
}

/* 减淡块图标颜色 */
.protyle-gutters svg {
    color: var(--b3-theme-on-surface);
}

/* 增加块图标悬浮时背景色 */
.protyle-gutters button:hover svg {
    color: var(--b3-theme-primary);
}

/**** 块属性 ****/
/* 将页面（标题）的属性移至左侧 */
.protyle-title .protyle-attr {
    left: 0;
}

/**** 预览模式 ****/
.protyle-preview__action {
    background-color: var(--b3-theme-background);
}

.protyle-preview__action button {
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 100px;
    background-color: transparent;
}

.protyle-preview__action button.protyle-preview__action--current {
    background-color: transparent;
    color: var(--b3-theme-secondary);
}

.protyle-preview__action button:hover {
    background-color: var(--b3-theme-primary-lightest);
}

/**** 其他 ****/
/* 编辑器光标颜色 */
.protyle-wysiwyg {
    caret-color: var(--b3-theme-primary);
}

/* 文本选中样式 */
.protyle-wysiwyg--select,
.protyle-wysiwyg--select .hljs,
.protyle-wysiwyg--select .protyle-linenumber__rows,
.protyle-wysiwyg--hl {
    background-color: var(--b3-theme-primary-lighter) !important;
    transition: all 0.3s ease-in-out;
}

/*在彩虹色设置下，选中段落字体颜色过深无法看清*/
.protyle-wysiwyg--select[style*="background-color"],
.protyle-wysiwyg--select .hljs[style*="background-color"],
.protyle-wysiwyg--select .protyle-linenumber__rows[style*="background-color"],
.protyle-wysiwyg--hl[style*="background-color"] {
    color: var(--b3-theme-on-background) !important;
}

/*拖拽下边框*/
.protyle-wysiwyg .dragover__top {
    box-shadow: 0 -3px 0 var(--b3-theme-primary);
}

.protyle-wysiwyg .dragover__bottom {
    box-shadow: 0 3px 0 var(--b3-theme-primary);
}

.protyle-wysiwyg .dragover__left {
    box-shadow: -3px 0 0 var(--b3-theme-primary);
}

.protyle-wysiwyg .dragover__right {
    box-shadow: 3px 0 0 var(--b3-theme-primary);
}

/* 隐藏空白行的提示文字 */
.protyle-wysiwyg [data-node-id] [spellcheck="false"]:empty:after {
    content: ' •';
    opacity: 0.3;
}

/************** 三、编辑器行内样式 ***********************/
/**** 双向链接、块引用 ****/
/* 样式：自定义 */
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:before {
    content: "「";
    position: relative;
    color: #4a98ff;
    margin-right: 3px;
    font-weight: bold;
    font-size: 16px;
    top: -3px;
}

.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:after {
    content: "」";
    position: relative;
    color: #4a98ff;
    margin-left: 3px;
    font-weight: bold;
    font-size: 16px;
    bottom: -3px;
}

.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:hover {
    padding-bottom: 5px;
    animation: waveMove 0.5s infinite linear;
    background: url(img/wave.svg) repeat-x 0 100%;
    background-size: 20px auto;
}

@keyframes waveMove {
    from {
        background-position: 0 100%;
    }

    to {
        background-position: -20px 100%;
    }
}

/*代码结束 */
/**虚拟引用**/
.protyle-wysiwyg [data-node-id] span[data-type="virtual-block-ref"] {
    border-bottom: 1.5px dashed var(--b3-border-color);
    transition: var(--common-transition);
}

.protyle-wysiwyg [data-node-id] span[data-type="virtual-block-ref"]:hover {
    border-color: var(--b3-theme-primary);
}

/**虚拟引用结束**/
/**** 超级链接 ****/
.b3-typography a,
.protyle-wysiwyg [data-node-id] span[data-type="a"] {
    color: var(--b3-protyle-inline-link-color);
    margin: 0 1px;
    text-decoration: none;
    padding: 2px 0;
}

.protyle-wysiwyg [data-node-id] span[data-type="a"]:hover {
    border-bottom: 1.5px solid var(--b3-theme-primary);
}

/* 利用mark作为挖空处理**/
/* .protyle-wysiwyg mark { background-color: var(--b3-theme-primary-lighter); border-radius: 5px; color: transparent; padding: 2px 10px; transition: all 0.3s ease-out; font-weight: normal !important; border: 2px solid transparent; } .protyle-wysiwyg mark:hover { background-color: transparent; color: var(--b3-theme-secondary); font-weight: bold !important; border-color: var(--b3-theme-primary-light); } */
/**利用mark作为挖空处理结束 **/
.protyle-wysiwyg mark {
    border-radius: 3px;
}

/**** KBD ****/
.b3-typography kbd,
.protyle-wysiwyg kbd {
    background-color: #00000003;
    font-size: 85%;
    margin: 0 1px;
}

/***标签样式***/
.protyle-wysiwyg [data-node-id] span[data-type="tag"] {
    border: 1px solid var(--b3-theme-secondary);
    color: var(--b3-theme-primary);
    border-radius: 7px;
    margin: 2px 2px;
    transition: all 0.3s ease-out;
}

.protyle-wysiwyg [data-node-id] span[data-type="tag"]:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-bottom: -3px;
    background: url(img/tag.svg);
    background-size: cover;
}

.protyle-wysiwyg [data-node-id] span[data-type="tag"]:hover {
    color: var(--b3-theme-secondary);
    padding-bottom: 0px;
    animation: waveMove 0.5s infinite linear;
    background: url(img/wave.svg) repeat-x 0 100%;
    background-size: 20px auto;
    border-color: transparent;
    transition: all 0.3s ease-out;
}

/**** 字体 ****/
/* 下划线 */
.b3-typography u,
.b3-typography span[data-type~=u],
.protyle-wysiwyg u,
.protyle-wysiwyg span[data-type~=u] {
    border-bottom: 2px solid;
}

/* 删除减淡 */
.b3-typography s,
.protyle-wysiwyg s {
    opacity: 0.5;
}

/**** 行内代码 ****/
.fn__code,
.b3-typography code:not(.hljs),
.b3-typography span[data-type~=code],
.protyle-wysiwyg code:not(.hljs),
.protyle-wysiwyg span[data-type~=code] {
    margin: 0 1px;
    color: var(--inline-code-color);
}

/**** 图片 ****/
.b3-typography img,
.protyle-wysiwyg img {
    border-radius: 4px;
}

/*下划线样式*/
.protyle-wysiwyg [data-node-id].hr>div {
    border-bottom: 2px solid var(--b3-theme-primary);
}

/************** 四、排版 **************************/
/**** 整体设置 ****/
/* .b3-typography,
.protyle-wysiwyg [data-node-id] {
    line-height: var(--line-height);
    letter-spacing: 0px;
    word-spacing: 0px;
    word-break: normal;
    word-wrap: break-word;
} */

/**** 超级块、横排 ****/
/* —————————————————————————————————————次超级块大小—————————————————————————————————————— */
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb {
    border: 1px dashed var(--b3-theme-primary);
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0.1em 0 0.1em 0.1em;
}

.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb:nth-last-child(2) {
    margin-right: 0.1em;
}

/* 取消显示Light Blue/Dark Blue主题中的超级块中的标题样式 */
div.sb>div[data-type="NodeHeading"]:before {
    display: none !important;
}

div.sb div.sb>div[data-type="NodeHeading"] {
    border-bottom: none !important;
}

/* ——————————————————————————————————————每个子超级块—————————————————————————————————————— */
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"]>[data-node-id] {
    border: 1px dashed var(--b3-theme-primary);
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0.1em 0 0.1em 0.1em;
}

/* 最后一个子超级块不设置右边距 */
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"]>[data-node-id]:nth-last-child(2) {
    margin-right: 0.1em;
}

/**** 嵌入块 ****/
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
    background-color: transparent;
    border: none;
    outline: 1.5px dashed var(--b3-theme-primary);
}

/* iframe */
.b3-typography iframe,
.protyle-wysiwyg iframe {
    border-color: transparent;
}

/****标题格式****/
.protyle-wysiwyg [data-node-id].h1,
.b3-typography h1 {
    position: relative;
    text-align: center;
    font-size: 1.75em;
    padding: 2px 0px 0px 7px;
    margin-bottom: 5px;
    border-bottom: 3px double var(--b3-theme-primary);
    color: var(--b3-theme-primary);
}

.protyle-wysiwyg [data-node-id].h2,
.b3-typography h2 {
    position: relative;
    text-align: justify;
    font-size: 1.5em;
    padding: 2px 0px 0px 7px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--b3-theme-secondary);
    color: var(--b3-theme-secondary);
}

.protyle-wysiwyg [data-node-id].h3,
.b3-typography h3 {
    position: relative;
    text-align: justify;
    font-size: 1.35em;
    padding: 2px 0px 0px 10px;
    margin-bottom: 5px;
    color: var(--b3-font-color10);
}

.protyle-wysiwyg [data-node-id].h3:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 100%;
    top: 0;
    left: -2.5px;
    background-color: var(--b3-font-color10);
    border-radius: 5px;
}

.protyle-wysiwyg [data-node-id].h4,
.b3-typography h4 {
    position: relative;
    text-align: justify;
    font-size: 1.2em;
    min-height: 1.25em;
    padding: 2px 0px 0px 10px;
    margin-bottom: 5px;
    color: var(--b3-font-color7);
}

.protyle-wysiwyg [data-node-id].h4:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    top: 0;
    left: -1.5px;
    background-color: var(--b3-font-color7);
    border-radius: 5px;
}

.protyle-wysiwyg [data-node-id].h5,
.b3-typography h5 {
    position: relative;
    text-align: justify;
    font-size: 1.1em;
    min-height: 1.25em;
    padding: 2px 0px 0px 10px;
    margin-bottom: 5px;
    color: var(--b3-font-color9);
}

.protyle-wysiwyg [data-node-id].h5:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    top: 0;
    left: -0.5px;
    background-color: var(--b3-font-color9);
    border-radius: 5px;
}

.protyle-wysiwyg [data-node-id].h6,
.b3-typography h6 {
    position: relative;
    text-align: justify;
    font-size: 1.1em;
    min-height: 1.25em;
    padding: 2px 0px 0px 7px;
    margin-bottom: 5px;
}

/**标题线**/
.protyle-wysiwyg [data-node-id].li>[data-node-id][data-subtype="h3"]::before {
    border-radius: 0px;
    /*left:calc(18px * -1 - 6px);*/
}

.protyle-wysiwyg [data-node-id].li>[data-node-id][data-subtype="h4"]::before {
    border-radius: 0px;
    /*left:calc(18px * -1 - 4px);*/
}

.protyle-wysiwyg [data-node-id].li>[data-node-id][data-subtype="h5"]::before {
    border-radius: 0px;
    /*left:calc(18px * -1 - 2px);*/
}

/* 标题折叠时样式 */
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li) {
    background-color: var(--b3-theme-primary-lightest);
    border-bottom: 2px dashed var(--b3-theme-primary-light) !important;
}

.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:before {
    display: none;
}

/* 圆点悬浮时放大效果（折叠时无效果） */
.protyle-wysiwyg [data-node-id].li:not([fold="1"])>.protyle-action:hover svg,
.protyle-wysiwyg [data-node-id].li:not([fold="1"])>.protyle-action:hover:after {
    transition: all 0.2s ease-in-out;
    transform: scale(1.22);
}

/* 消除待办事项图标背景色 */
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action--task:after,
.protyle-wysiwyg [data-node-id].li>.protyle-action--task:hover:after {
    background: transparent !important;
}

/* 待办事项已完成的样式 */
.protyle-task--done>.p,
.protyle-task--done>.protyle-action svg {
    opacity: 0.5;
    text-decoration: line-through;
}

.b3-typography h1 strong,
.b3-typography h2 strong,
.b3-typography h3 strong,
.b3-typography h4 strong,
.b3-typography h5 strong,
.b3-typography h6 strong {
    /* 预览样式 */
    color: inherit;
}

/**** 引述 ****/
.b3-typography blockquote,
.b3-typography .bq,
.protyle-wysiwyg blockquote,
.protyle-wysiwyg .bq {
    border-left: none;
    color: #205883;
    background-color: var(--b3-theme-primary-lightest);
}

.b3-typography blockquote:before,
.b3-typography .bq:before,
.protyle-wysiwyg blockquote:before,
.protyle-wysiwyg .bq:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: transparent;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top: 3px solid var(--b3-theme-primary);
    border-left: 3px solid var(--b3-theme-primary);
    transition: 0.5s;
}

.b3-typography blockquote:after,
.b3-typography .bq:after,
.protyle-wysiwyg blockquote:after,
.protyle-wysiwyg .bq:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: transparent;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    border-right: 3px solid var(--b3-theme-primary);
    border-bottom: 3px solid var(--b3-theme-primary);
    transition: 0.5s;
}

/**** 代码块 ****/
.b3-typography .code-block,
.protyle-wysiwyg .code-block {
    padding: 0;
    margin: 1em 0;
    line-height: 1.625 !important;
    box-shadow: var(--glass-box-shadow);
}

.b3-typography .hljs,
.protyle-wysiwyg .hljs {
    background-color: #e8e9eb !important;
}

.code-block .protyle-icons {
    background-color: transparent;
    border-radius: 30px;
}

.code-block .protyle-icons>span {
    height: 25px;
}

.protyle-icon {
    background-color: transparent;
    color: var(--b3-theme-on-background);
}

.protyle-icon:hover {
    background-color: transparent;
    color: var(--b3-theme-primary);
}

.protyle-linenumber__rows {
    background-color: var(--b3-protyle-code-background);
}

.protyle-linenumber__rows>span::before {
    text-align: center;
}

.protyle-action__language:hover {
    color: var(--b3-font-color12) !important;
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
    color: var(--b3-theme-primary) !important;
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
    color: var(--b3-theme-secondary) !important;
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
    color: var(--b3-font-color7) !important;
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
    color: var(--b3-font-color8) !important;
}

.hljs-comment {
    color: var(--b3-font-color9) !important;
}

/**** 表格 ****/
/* 去除默认背景色 */
.b3-typography table tbody tr:nth-child(n),
.protyle-wysiwyg table tbody tr:nth-child(n) {
    background: transparent;
}

/* 首行背景色 */
.protyle table thead tr {
    background-color: var(--b3-theme-primary-lighter);
}

/*双数行背景颜色*/
.b3-typography table tbody tr:nth-child(2n) td,
.protyle-wysiwyg table tbody tr:nth-child(2n) td {
    background-color: var(--b3-theme-primary-lightest);
}

/* 添加行悬浮时背景色 */
.b3-typography table tr:hover,
.protyle-wysiwyg table tr:hover {
    background-color: var(--b3-theme-primary-lighter) !important;
}

.b3-typography table td,
.b3-typography table th,
.protyle-wysiwyg table td,
.protyle-wysiwyg table th {
    color: inherit;
}

.protyle-wysiwyg [data-node-id][custom-table-width~=auto] table {
    display: table;
    width: 100%;
}

/**图片标题**/
.b3-typography .img .protyle-action__title,
.protyle-wysiwyg .img .protyle-action__title {
    color: var(--b3-font-color10);
}

/***大纲***/
/**无序列表  FROM SAVOR**/
[data-subtype="u"]>[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px !important;
    height: 3px !important;
    border-radius: 50%;
    background-color: var(--b3-theme-on-background);
    border: 0.1em solid var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--b3-theme-background);
    border: 0.1em solid var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px;
    height: 3px;
    border-radius: 0;
    background-color: var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--b3-theme-on-background);
    border: 0.1em solid var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--b3-theme-background);
    border: 0.1em solid var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px;
    height: 3px;
    border-radius: 0;
    background-color: var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--b3-theme-on-background);
    border: 0.1em solid var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--b3-theme-background);
    border: 0.1em solid var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px;
    height: 3px;
    border-radius: 0;
    background-color: var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--b3-theme-on-background);
    border: 0.1em solid var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--b3-theme-background);
    border: 0.1em solid var(--b3-theme-on-background);
}

[data-subtype="u"]>[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    color: transparent;
    width: 3px;
    height: 3px;
    border-radius: 0;
    background-color: var(--b3-theme-on-background);
}

/***基础线条***/
.protyle-wysiwyg [data-node-id].li>[data-node-id]:before {
    content: "";
    position: absolute;
    border-left: 1px solid var(--list-border-initial);
    background-color: transparent;
    left: -18px;
}

/**引述块在列表下问题**/
.protyle-wysiwyg [data-node-id].li>[data-node-id].bq:before {
    left: -18px;
    border-top: none;
}

.protyle-wysiwyg [data-node-id].li>[data-node-id].bq:after {
    border: none;
}

.protyle-wysiwyg [data-node-id].li>[data-node-id].bq {
    border-bottom: 2px solid var(--b3-theme-primary);
}

/**大纲颜色与卡片背景色统一**/
.protyle-wysiwyg [data-node-id].li>.protyle-action {
    color: inherit;
}

/* 大纲悬浮时样式 */
.protyle-wysiwyg [data-node-id].li>.protyle-action:hover:after {
    background-color: var(--list-bullet-hover-background) !important;
    opacity: 0.2;
    /* 圆点悬浮时外圈透明度 */
}

.protyle-wysiwyg [data-node-id].li>.protyle-action:hover {
    color: var(--list-bullet-focus);
}

.protyle-wysiwyg [data-node-id].li>.protyle-action:hover svg {
    border-color: var(--list-bullet-focus) !important;
}

/* 大纲折叠时样式 */
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action:after {
    background-color: var(--list-bullet-fold-background) !important;
    opacity: 0.2;
}

.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action {
    color: var(--list-bullet-fold) !important;
}

/**嵌入块左移**/
.protyle-wysiwyg [data-node-id].li>[data-node-id].render-node:before {
    left: -19px;
}

/***移动端****/
#sidebar {
    background-color: var(--dialog-background);
}

#editor {
    background: var(--dialog-background);
}

.scrim {
    background: transparent;
}

.side-panel {
    background-color: var(--dialog-background);
}

/***云端收集箱***/
.inbox__details {
    background-color: var(--dialog-background);
}

.b3-menu.b3-list.b3-list--background.hint--menu {
    column-count: 4;
    column-width: 148px !important;
    column-gap: 5px;
    min-width: 45vw !important;
    max-height: 480px !important;
    border: var(--b3-border-color);
    padding: 4px;
}

/* 设置项目之间的分割线颜色 */
.b3-menu.b3-list.b3-list--background .b3-menu__separator {
    margin: 2px 0px;
}

/* ————————————————————将每个项目的文字和图标大小设置更小点———————————————————— */
/* 设置单个项目 */
button.b3-list-item.b3-list-item--two.fn__block {
    font-size: 90%;
    border: var(--b3-border-column-item);
    box-sizing: border-box;
    vertical-align: middle;
    padding: 2px 8px !important;
    margin-bottom: 0em;
    min-height: 34px;
    outline: none;
}

/* 设置图标颜色 */
button.b3-list-item.b3-list-item--two.fn__block .b3-list-item__graphic {
    color: gray;
    position: absolute;
}

/* 鼠标悬浮时更改图标颜色 */
button.b3-list-item.b3-list-item--two.fn__block:hover .b3-list-item__text,
button.b3-list-item.b3-list-item--two.fn__block:hover .b3-list-item__graphic,
button.b3-list-item.b3-list-item--two.fn__block:hover .b3-menu__accelerator,
button.b3-list-item.b3-list-item--two.fn__block:hover .b3-list-item__meta {
    color: var(--b3-theme-primary);
}

/* 设置文本颜色 */
button.b3-list-item.b3-list-item--two.fn__block .b3-list-item__text {
    vertical-align: middle;
    padding-left: 18px;
}

button.b3-list-item.b3-list-item--two.fn__block .b3-list-item__meta {
    color: var(--b3-theme-on-background);
}

button.b3-list-item.b3-list-item--two.fn__block.b3-list-item--focus .b3-list-item__text,
button.b3-list-item.b3-list-item--two.fn__block.b3-list-item--focus .b3-list-item__graphic,
button.b3-list-item.b3-list-item--two.fn__block.b3-list-item--focus .b3-menu__accelerator,
button.b3-list-item.b3-list-item--two.fn__block.b3-list-item--focus .b3-list-item__meta {
    color: var(--b3-theme-primary);
}

/* '/'弹出分栏 FROM SAVOR*/
.hint--menu {
    animation: menu 0.2s ease-in-out;
    box-shadow: var(--b3-menu-shadow);
    background-color: var(--b3-theme-background);
    columns: 50px 4;
    padding: 5px;
    border: none;
    min-width: 48vw;
}

.hint--menu .b3-list-item {
    border-radius: 3px;
    margin: 0 !important;
    width: 100% !important;
    min-height: 20px !important;
}

.hint--menu .b3-list-item__text {
    margin: 0 0 0 8px;
    color: var(--b3-theme-on-background);
}

.hint--menu .b3-list-item__graphic {
    margin: 0px;
    width: 10px;
    height: 12px;
    border: 1px solid var(--b3-border-color);
}

.hint--menu>.b3-list-item--two {
    margin: 0;
}

@media screen and (min-width: 1280px) {
    .hint--menu>.b3-list-item--two {
        width: calc(25% - 5px);
    }

    .hint--menu {
        max-height: 412px !important;
    }
}

@media screen and (max-width: 1280px) {
    .hint--menu {
        columns: unset;
        min-width: unset !important;
    }
}

.protyle-hint.hint--menu:has(>.emojis) {
    min-width: 372px;
    width: 372px !important;
}

.protyle-hint.hint--menu>.emojis {
    column-span: all;
    width: 360px !important;
}

.emojis__item {
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 32px;
    font-size: 18px;
    margin: 0 4px 4px 0;
}

.emojis__item img,
.emojis__item svg.custom-icon {
    margin: 0;
    width: 18px;
    height: 18px;
    padding: 7px;
    display: block;
}

.hint--menu .b3-menu__separator {
    display: none;
}